[Unit]
Description=Cloudflare tunnel
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm cloudflare/cloudflared:latest tunnel --no-autoupdate run --token <Tunnel token>
ExecStop=/usr/bin/docker exec %n stop

[Install]
WantedBy=default.target
